exclude tests
recursive-exclude tests *
exclude .github
recursive-exclude .github *

exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude .flake8
exclude tox.ini
exclude web-compile-config.yml

include LICENSE
include README.md
include .pre-commit-hooks.yaml
